@media (min-width: 1200px) {
    .layout-wrapper {
        .layout-main-container {
            margin-left: 0;
            padding-left: 0;
        }

        .layout-mask {
            display: none;
        }
    }
}

@media (max-width: 1200px) {
    .layout-wrapper {
        .layout-main-container {
            margin-left: 0;
            padding-left: 0rem;
        }

        .layout-mask {
            z-index: 998;
            background-color: $maskBg;

            &.layout-mask-enter-from,
            &.layout-mask-leave-to {
                background-color: transparent;
            }
        }
    }

    .body-overflow-hidden {
        overflow: hidden;
    }
}
